/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');
@import url("https://use.typekit.net/fpz4skh.css");
@import url("https://use.typekit.net/fpz4skh.css");

/* Changing the main font and background colour */

body {
	font-family: acuta, serif;
    font-weight: 500;
    font-style: italic;
	background-color: #D9DAD9;
	color: #000000;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.our-product {
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	font-size: 60px;
}
.nav-link {
	font-size: 18px;
	text-align: left;
}
button {
	text-align: center; 
}
.navbar {
	background-color: #D9DAD9
}
.textcolor {
	Color: #000000;
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	font-size: 20px;
	float: left;
	background-color: #D9DAD9;
}
.textcolor1{
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	color: #000000;
	font-size: 20px;
	float: right;
	background-color: #D9DAD9;
}
h2 {
	font-family: acuta, serif;
    font-weight: 500;
    font-style: italic;
	font-size: 50px;
	background-color: #D9DAD9;
}
h2::first-letter {
	color: #B175FF;
	text-align: center;
}
h1 {
	color: #000000;
	font-family: acuta, serif;
    font-weight: 500;
    font-style: italic;
	font-size: 50px;
	background-color: #D9DAD9;
}
h1::first-letter {
	color: #FFDE59
}
*{
	margin: 0;
	padding: 0;
	font-family: gitan-latin,sans-serif;
}
.testimonials{
	padding: 40px 0;
	background: #f1f1f1;
	color: #434343;
	text-align: center;
}
.inner {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border{
	width: 160px;
	height: 5px;
	background: #B175FF;
	margin: 26px auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}
.testimonial{
	background: #fff;
	padding: 30px;
}
.testimonial img{
	width: 100px;
	height:100px;
	border-radius: 50%
}
.name{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}
.stars{
	color: #FFDE59;
	margin-bottom: 20px; 
}.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: gitan-latin,sans-serif;
  Font-weight: 500;
  font-style: italic;
  font-size: 20px;
}
.column{
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	font-size: 18px;
	background-color: #D9DAD9;
}
.middle{
	Padding: 0 40px;
	text-align: center;
}
.border1{
	width: 1300px;
	height: 100px;
	background: #B175FF;
	margin: 26px auto;
}
.column1 {
  float: left;
  width: 33.33%;
  padding: 5px;
  background-color: #D9DAD9;
}
.row1::after {
  content: "";
  clear: both;
  display: table;
  background-color: #D9DAD9;
}