/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');
@import url("https://use.typekit.net/fpz4skh.css");
@import url("https://use.typekit.net/fpz4skh.css");

/* Changing the main font and background colour */

body {
	font-family: acuta, serif;
    font-weight: 500;
    font-style: italic;
	background-color: #FFFFFF;
	color: #000000;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.our-product {
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	font-size: 60px;
}
.nav-link {
	font-size: 18px;
	text-align: left;
}
button {
	text-align: center; 
}
.navbar-brand {
	margin-left: 340px;
}
.navbar {
	background-color: #D9DAD9
}
.textcolor {
	Color: #000000
}
p {
	font-family: gitan-latin,sans-serif;
	Font-weight: 500;
	font-style: italic;
	font-size: 20px;
}
h2 {
	font-family: acuta, serif;
    font-weight: 500;
    font-style: italic;
	font-size: 50px;
	background-color: #D9DAD9;
}
h2::first-letter {
	color: #B175FF
}
h1 {
	color: #000000
}
h1::first-letter {
	color: #FFDE59
}